<div data-ng-controller="DatapointsController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">TintMx</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

					<li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/datapoints/create">CREATE</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/datapoints">DATAPOINTS</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.name" data-ng-show="authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

	<section data-ng-init="findOne()" class="container">
		<h1 data-ng-bind="datapoint.val"></h1> [x:<small data-ng-bind="datapoint.coords[0]"></small>, y:<small data-ng-bind="datapoint.coords[1]"></small>]
		<div data-ng-show="authentication.user._id == datapoint.creator._id">
			<a href="/#!/datapoints/{{datapoint._id}}/edit">edit</a><br>
			<a href="#" data-ng-click="delete();">delete</a>
		</div>
		<small>
		<em data-ng-bind="datapoint.created | date:'mediumDate'"></em>
		</small>
		<p data-ng-bind="datapoint.comment"></p>
	</section>
</div>
